extends layout

block content
	p Press F12, Open your browser console. 
	p Write something below & sent it.
	p
		input(id='message', type='text')
		input(id='btnSent', type='button', value='Push')
	p Your will see logs in console.

	p 
		b You can find the javascript sample code in this path.
	p 
		b node-pusher/public/js/app.js