body {
  padding: 10px;
  text-align: center;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

quate.sub-header {
	color: #444;
}

.container {
	width: 960px;
	margin: 0px auto;
	text-align: left;
}

.main {
	padding-top: 12px;
}